.title.is-3 Metadata sections

.block
  Here you can edit the
  %em Author/Circle/Theme
  metadata.

.notification.is-info
  .columns
    .column.is-1.has-text-centered
      %span.icon.is-medium
        %i.mdi.mdi-alert-circle-outline.mdi-36px
    .column
      Remember to check out the ready-made
      = link_to 'importable datasets', 'datasets.html'
      too.

.columns
  .column
    .box
      You can browse, search by terms or by letter, see the favorities and the number
      of sets associated ("#Dj" column).
  .column.is-6
    = link_to image_url('metadata-01-index.png') do
      %figure.image
        = image_tag 'metadata-01-index.png'

.columns
  .column.is-6
    = link_to image_url('metadata-02-edit.png') do
      %figure.image
        = image_tag 'metadata-02-edit.png'
  .column
    .box
      There is plenty of informations you can enter.
